<h1>Wordle Hard Mode</h1>
Previous Guesses:
<br>
Guess 1: {{guesses.[0]}}
<br>
Guess 2: {{guesses.[1]}}
<br>
Guess 3: {{guesses.[2]}}
<br>
Guess 4: {{guesses.[3]}}
<br>
Guess 5: {{guesses.[4]}}
<br>
Guess 6: {{guesses.[5]}}

<form method="post" action="/home">
Guess the word of the day!
<label for="guess"></label>
<input type="text" name="guess">
</form>